<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Gaurav Mehla">
    <meta name="description" content="Software Engineer / FullStack Web Developer">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gaurav Mehla">
    <meta property="og:url" content="https://mehla.in/">
    <meta property="og:description" content="Software Engineer / FullStack Web Developer">
    <title>Gaurav Mehla - Software Developer</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/hover-min.css">

    <script src="/javascripts/fontawesome.js"></script>
</head>
<body id="particles-js">

<a href="https://github.com/gauravmehla" class="github-corner" aria-label="View source on Github">
    <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#27292c; color:#fff; position: fixed; top: 0; border: 0; right: 0;" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
    </svg>
</a>

<div id="return-to-top" class="hvr-grow-rotate">
    <i class="fa fa-level-up" aria-hidden="true"></i>

</div>

<div class="container">
    <div class="row col-md-12">
        {{{body}}}
    </div>
</div>
	

	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        // dots is an array of Dot objects,
        // mouse is an object used to track the X and Y position
           // of the mouse, set with a mousemove event listener below
        var dots = [],
            mouse = {
              x: 0,
              y: 0
            };

        // The Dot object used to scaffold the dots
        var Dot = function() {
          this.x = 0;
          this.y = 0;
          this.node = (function(){
            var n = document.createElement("div");
            n.className = "trail";
            document.body.appendChild(n);
            return n;
          }());
        };
        // The Dot.prototype.draw() method sets the position of 
          // the object's <div> node
        Dot.prototype.draw = function() {
          this.node.style.left = this.x + 20 + "px";
          this.node.style.top = this.y + 20 + "px";
        };

        // Creates the Dot objects, populates the dots array
        for (var i = 0; i < 6; i++) {
          var d = new Dot();
          dots.push(d);
        }

        // This is the screen redraw function
        function draw() {
          // Make sure the mouse position is set everytime
            // draw() is called.
          var x = mouse.x,
              y = mouse.y;
          
          // This loop is where all the 90s magic happens
          dots.forEach(function(dot, index, dots) {
            var nextDot = dots[index + 1] || dots[0];
            
            dot.x = x;
            dot.y = y;
            dot.draw();
            x += (nextDot.x - dot.x) * .6;
            y += (nextDot.y - dot.y) * .6;

          });
        }

        addEventListener("mousemove", function(event) {
          //event.preventDefault();
          mouse.x = event.pageX;
          mouse.y = event.pageY;
        });

        // animate() calls draw() then recursively calls itself
          // everytime the screen repaints via requestAnimationFrame().
        function animate() {
          draw();
          requestAnimationFrame(animate);
        }

        // And get it started by calling animate().
        animate();


        /* Scroll to top */
        // ===== Scroll to Top ==== 
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });


        // Select all links with hashes
        $('a[href*="#"]')
          // Remove links that don't actually link to anything
          .not('[href="#"]')
          .not('[href="#0"]')
          .click(function(event) {
            // On-page links
            if (
              location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
              && 
              location.hostname == this.hostname
            ) {
              // Figure out element to scroll to
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              // Does a scroll target exist?
              if (target.length) {
                // Only prevent default if animation is actually gonna happen
                event.preventDefault();
                $('html, body').animate({
                  scrollTop: target.offset().top
                }, 1000, function() {
                  // Callback after animation
                });
              }
            }
          });

        // Greet hackers on the console
        var _0x98c6=["\x25\x63\x48\x65\x79\x20\x48\x61\x63\x6B\x65\x72\x21\x20\uD83D\uDC4B","\x63\x6F\x6C\x6F\x72\x3A\x72\x65\x64\x3B\x66\x6F\x6E\x74\x2D\x73\x69\x7A\x65\x3A\x32\x34\x70\x78\x3B","\x6C\x6F\x67","\x25\x63\x47\x72\x65\x65\x74\x69\x6E\x67\x73\x20\x66\x72\x6F\x6D\x20\x6D\x79\x20\x73\x69\x64\x65","\x66\x6F\x6E\x74\x2D\x73\x69\x7A\x65\x3A\x31\x32\x70\x78\x3B","\x25\x63\x49\x66\x20\x79\x6F\x75\x20\x77\x61\x6E\x74\x20\x74\x6F\x20\x6B\x6E\x6F\x77\x20\x61\x62\x6F\x75\x74\x20\x61\x6E\x79\x74\x68\x69\x6E\x67\x20\x77\x68\x69\x63\x68\x20\x69\x73\x20\x72\x65\x6C\x61\x74\x65\x64\x20\x74\x6F\x20\x74\x68\x69\x73\x20\x77\x65\x62\x73\x69\x74\x65\x2C\x20\x79\x6F\x75\x20\x63\x61\x6E\x20\x64\x69\x72\x65\x63\x74\x6C\x79\x20\x63\x6F\x6E\x74\x61\x63\x74\x20\x6D\x65\x2E\x20\x44\x6F\x20\x6E\x6F\x74\x20\x68\x65\x73\x69\x74\x61\x74\x65\x21\x2E","\x63\x6F\x6C\x6F\x72\x3A\x23\x33\x36\x39\x38\x64\x31\x3B\x66\x6F\x6E\x74\x2D\x73\x69\x7A\x65\x3A\x31\x38\x70\x78\x3B"];console[_0x98c6[2]](_0x98c6[0],_0x98c6[1]);console[_0x98c6[2]](_0x98c6[3],_0x98c6[4]);console[_0x98c6[2]](_0x98c6[5],_0x98c6[6])

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
</body>
</html>