<div class="wrapper" data-spy="scroll">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- back</a>
	    <h1 class="about__title">About Me:</h1>
	    <div class="about__content">
			
			<table class="table intro-table">
				<tr>
					<td>
						<div>
							<img src="/images/gaurav_mehla.jpg" style="width: 400px;" class="hvr-glow">
						</div>
					</td>
					<td>

						<p>Hello, my name is <span class="invert">Gaurav Mehla</span>. I am a FullStack Developer & novice designer ( <i>This whole website is designed by me</i> ). I write a lot of code & I Love JavaScript. My favourite technologies right now is <a href="https://nodejs.org/en/" target="_blank">NodeJS</a>.</p>

						<p>I am currently working at <a href="http://livemedia.in/" target="_blank">Livemedia</a> as a Software Engineer. I have been using NodeJS, AngularJS and MongoDB for main Tech Stack while Ionic for building mobile applications.</p>

						<p>This is a place for me to share what I learn from my experiences - a collection of articles on software engineering, rants, and life stories.</p>

						<p>Want to know more about me ? Checkout <a href="https://www.github.com/gauravmehla" target="_blank">Github</a>, <a href="https://www.npmjs.com/~gauravmehla" target="_blank">npm</a> and <a href="https://stackoverflow.com/users/3835198/gauravmehla?tab=profile" target="_blank">Stackoverflow</a></p>
					</td>
				</tr>
			</table>
	   
	    </div>
		
		<div class="row">
			<div class="col-md-6">
				<h1 class="about__title"> <span id="red-block" class="hvr-bounce-in">#</span> Sections </h1>
				<div class="options about-options">
					<ul>
					  <li> >_ <a href="#programmin_skills"> Programming Language Skills </a> </li>
					  <li> >_ <a href="#framework_skills"> Framework Skills </a> </li>
					  <li> >_ <a href="#db_skills"> Database Skills </a> </li>
					  <li> >_ <a href="#edu_skills"> Education & jobs </a> </li>
					  <li> >_ <a href="#interests"> Interests </a> </li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-center" style="margin-top: 150px;margin-bottom: 150px;">
					<img src="/images/download_resume.png">
					<br>
					<a href="/gaurav mehla resume.pdf" id="resume-button" class="hvr-outline-in hvr-buzz-out"> View full Resume </a>
				</div>
			</div>
		</div>

	    <div class="skill_block">
	    	<h1 class="about__title" id="programmin_skills"> <span id="red-block" class="hvr-bounce-in">#</span> Language and Platform Skills :</h1>
	    	<div class="skill_section">

	    	<!--  Progress Meter-->
				<div class="bs-callout bs-callout-danger">
        			<ul class="list-group">
			            <div class="progress">
			              <div data-placement="top" style="width: 95%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger progress-bar-striped active">
			                <span class="sr-only">90%</span>
			                <span class="progress-type">JavaScript/ NodeJS/ MEAN stack </span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger progress-bar-striped active">
			                <span class="sr-only">80%</span>
			                <span class="progress-type">Python 2.7</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 75%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">75%</span>
			                <span class="progress-type">PHP/ Lamp Stack</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 65%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">50%</span>
			                <span class="progress-type">JAVA</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 35%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">35%</span>
			                <span class="progress-type">C</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 35%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">35%</span>
			                <span class="progress-type">C++</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 25%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped active">
			                <span class="sr-only">25%</span>
			                <span class="progress-type">Go</span>
			              </div>
			            </div>

			            <div class="progress-meter">
			              <div style="width: 30%;" class="meter meter-left"><span class="meter-text">I know little</span></div>
			              <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I'm expert</span></div>
			              <div style="width: 50%;" class="meter meter-right"><span class="meter-text">I'm good</span></div>
			            </div>
			        </ul>
			    </div>
      	<!-- </ Progress Meter-->

	    	</div>
	    </div>

	    <div class="row">
		  <div class="col-md-4">
	    	<h1 class="about__title" id="framework_skills"> <span id="red-block" class="hvr-bounce-in">#</span> Framework Skill :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="http://expressjs.com/" target="_blank">Express </a> </li>
					  <li> >_ <a href="https://angularjs.org/" target="_blank"> Angular </a> </li>
					  <li> >_ <a href="https://www.djangoproject.com/" target="_blank"> Django </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		  <div class="col-md-4">
	    	<h1 class="about__title" id="db_skills"> <span id="red-block" class="hvr-bounce-in">#</span> Database Skill :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="https://www.mongodb.com/" target="_blank"> MongoDB </a> </li>
					  <li> >_ <a href="https://www.mysql.com/" target="_blank"> MySQL </a> </li>
					  <li> >_ <a href="https://www.postgresql.org/" target="_blank"> PostGRE </a> </li>
					  <li> >_ <a href="https://www.rethinkdb.com/" target="_blank"> RethinkDB </a> </li>
					  <li> >_ <a href="https://redis.io/" target="_blank"> Redis </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		  <div class="col-md-4">
		  	<h1 class="about__title" id="interests"> <span id="red-block" class="hvr-bounce-in">#</span> Interests :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="/" target="_blank"> ML / AI </a> </li>
					  <li> >_ <a href="https://www.hackerrank.com/gauravmehla" target="_blank"> Algorithms </a> </li>
					  <li> >_ <a href="https://www.goodreads.com/user/show/64525502-gaurav-mehla" target="_blank"> Reading books </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		</div>

		<div class="row" style="font-size: 23px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block" class="hvr-grow-rotate">#</span> Experience coding on all major platforms</p>
			  <footer class="blockquote-footer">i.e OSX, iOS, Web, Windows, Linux, Android</footer>
			</blockquote>
		</div>


	    <div class="skill_block" >
	    	<h1 class="about__title" id="edu_skills"> <span id="red-block" class="hvr-grow-rotate">#</span> Education and Jobs :</h1>
	    	<div class="skill_section">
	    	<!-- The Timeline -->

				<ul class="timeline">
					
					<li>
						<div class="direction-l">
							<div class="flag-wrapper">
								<span class="flag">Looking 👀</span>
								<span class="time-wrapper"><span class="time">Mar 2018 - present</span></span>
							</div>
							<div class="desc">My current employment. Way better than the position before! Working on MEAN Stack.</div>
						</div>
					</li>

					<!-- Item 1 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Livemedia</span>
								<span class="time-wrapper"><span class="time">Nov 2016 - Mar 2018</span></span>
							</div>
							<div class="desc">
								<p style="color:red;font-size: 11px;">Software Engineer</p>
								My last employment. Way better than the position before! Working on MEAN Stack.</div>
						</div>
					</li>
				  
					<!-- Item 2 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Buringo</span>
								<span class="time-wrapper"><span class="time">Sep 2016 - Nov 2016</span></span>
							</div>
							<div class="desc">
								<p style="color:red;font-size: 11px;">FullStack Web Developer</p>
								My first employement. Worked on Meteor.</div>
						</div>
					</li>

					<!-- Item 3 -->
					<li>
						<div class="direction-l">
							<div class="flag-wrapper">
								<span class="flag">B.Tech - KUK</span>
								<span class="time-wrapper"><span class="time">Aug 2012 - July 2016</span></span>
							</div>
							<div class="desc">
								<p style="color:red;font-size: 11px;">Bachelor of Technology - Computer Science</p>
								Learned Data Structures, Algorithms, etc. Worked on a lot of projects which are based on LAMP tech stack. 3 of them are live in my college and appriciated by management of college</div>
						</div>
					</li>
				</ul>

	    	</div>
	    </div>

	    <div class="row" style="font-size: 23px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block" class="hvr-grow-rotate">#</span> Familiar with a lot of creative softwares</p>
			  <footer class="blockquote-footer">i.e  xCode, Git, Android Studio, Photoshop CS6 and many more.</footer>
			</blockquote>
		</div>
		
		
	</div>
</div>
