<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- back</a>
	    <h1 class="about__title">About Me:</h1>
	    <div class="about__content">
			
			<table class="table intro-table">
				<tr>
					<td>
						<div>
							<img src="/images/gaurav_mehla.jpg" style="width: 400px;">
						</div>
					</td>
					<td>

						<p>Hello, my name is <span class="invert">Gaurav Mehla</span>. I am a FullStack Developer & write a lot of code. I Love JavaScript and like <a href="https://nodejs.org/en/">NodeJS</a>.</p>

						<p>I am currently working at <a href="http://livemedia.in/">Livemedia</a> as a Software Engineer. I have been using NodeJS, AngularJS and MongoDB for main Tech Stack while Ionic for building mobile applications.</p>

						<p>This is a place for me to share what I learn from my experiences - a collection of articles on software engineering, rants, life stories, and hiking.</p>

						<p>Want to know more about me ? Checkout <a href="https://www.github.com/gauravmehla">Github</a>, <a href="https://www.npmjs.com/~gauravmehla">npm</a> and <a href="https://stackoverflow.com/users/3835198/gauravmehla?tab=profile">Stackoverflow</a></p>

						<div class="options about-options">
							<ul>
							  <li> >_ <a href="#programmin_skills"> Programming Language Skills </a> </li>
							  <li> >_ <a href="#framework_skills"> Framework Skills </a> </li>
							  <li> >_ <a href="#db_skills"> Database Skills </a> </li>
							  <li> >_ <a href="#edu_skills"> Education & jobs </a> </li>
							  <li> >_ <a href="#interests"> Interests </a> </li>
							</ul>
						</div>

					</td>
				</tr>
			</table>
	   
	    </div>

	    <div class="skill_block">
	    	<h1 class="about__title" id="programmin_skills"> <span id="red-block">#</span> Language and Platform Skills :</h1>
	    	<div class="skill_section">

	    	<!--  Progress Meter-->
				<div class="bs-callout bs-callout-danger">
        			<ul class="list-group">
			            <div class="progress">
			              <div data-placement="top" style="width: 95%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success progress-bar-striped active">
			                <span class="sr-only">90%</span>
			                <span class="progress-type">JavaScript/ NodeJS/ MEAN stack </span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 75%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
			                <span class="sr-only">75%</span>
			                <span class="progress-type">PHP/ Lamp Stack</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
			                <span class="sr-only">70%</span>
			                <span class="progress-type">Python 2.7</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 65%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
			                <span class="sr-only">50%</span>
			                <span class="progress-type">JAVA</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 35%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
			                <span class="sr-only">35%</span>
			                <span class="progress-type">C</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 35%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-success">
			                <span class="sr-only">35%</span>
			                <span class="progress-type">C++</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 25%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
			                <span class="sr-only">25%</span>
			                <span class="progress-type">Go</span>
			              </div>
			            </div>

			            <div class="progress-meter">
			              <div style="width: 30%;" class="meter meter-left"><span class="meter-text">I know little</span></div>
			              <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I'm expert</span></div>
			              <div style="width: 50%;" class="meter meter-right"><span class="meter-text">I'm good</span></div>
			            </div>
			        </ul>
			    </div>
      	<!-- </ Progress Meter-->

	    	</div>
	    </div>

	    <div class="row">
		  <div class="col-md-4">
	    	<h1 class="about__title" id="framework_skills"> <span id="red-block">#</span> Framework Skill :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="http://expressjs.com/" target="_blank">Express </a> </li>
					  <li> >_ <a href="https://angularjs.org/" target="_blank"> Angular </a> </li>
					  <li> >_ <a href="https://www.djangoproject.com/" target="_blank"> Django </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		  <div class="col-md-4">
	    	<h1 class="about__title" id="db_skills"> <span id="red-block">#</span> Database Skill :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="https://www.mongodb.com/" target="_blank"> MongoDB </a> </li>
					  <li> >_ <a href="https://www.mysql.com/" target="_blank"> MySQL </a> </li>
					  <li> >_ <a href="https://www.postgresql.org/" target="_blank"> PostGRE </a> </li>
					  <li> >_ <a href="https://www.rethinkdb.com/" target="_blank"> RethinkDB </a> </li>
					  <li> >_ <a href="https://redis.io/" target="_blank"> Redis </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		  <div class="col-md-4">
		  	<h1 class="about__title" id="interests"> <span id="red-block">#</span> Interests :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="/"> ML / AI </a> </li>
					  <li> >_ <a href="/"> Algorithms </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		</div>

		<div class="row" style="font-size: 23px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block">#</span> Experience coding on all major platforms</p>
			  <footer class="blockquote-footer">i.e OSX, iOS, Web, Windows, Linux, Android</footer>
			</blockquote>
		</div>


	    <div class="skill_block" >
	    	<h1 class="about__title" id="edu_skills"> <span id="red-block">#</span> Education and Jobs :</h1>
	    	<div class="skill_section">
	    	<!-- The Timeline -->

				<ul class="timeline">

					<!-- Item 1 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Livemedia</span>
								<span class="time-wrapper"><span class="time">Nov 2016 - present</span></span>
							</div>
							<div class="desc">My current employment. Way better than the position before! Working on MEAN Stack.</div>
						</div>
					</li>
				  
					<!-- Item 2 -->
					<li>
						<div class="direction-l">
							<div class="flag-wrapper">
								<span class="flag">Buringo</span>
								<span class="time-wrapper"><span class="time">Sep 2016 - Nov 2016</span></span>
							</div>
							<div class="desc">My first employer. Worked on Meteor.</div>
						</div>
					</li>

					<!-- Item 3 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">B.Tech - KUK</span>
								<span class="time-wrapper"><span class="time">Aug 2012 - July 2016</span></span>
							</div>
							<div class="desc">Learned Data Structures, Algorithms, etc.</div>
						</div>
					</li>

				  
				</ul>

	    	</div>
	    </div>

	    <div class="row" style="font-size: 23px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block">#</span> Familiar with a lot of creative softwares</p>
			  <footer class="blockquote-footer">i.e  xCode, Git, Android Studio, Photoshop CS6 and many more.</footer>
			</blockquote>
		</div>

		

	</div>
</div>
