<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- back</a>
	    <h1 class="about__title">About Me:</h1>
	    <div class="about__content">
			
			<table class="table intro-table">
				<tr>
					<td>
						<div>
							<img src="/images/profile_2.jpg" style="width: 400px;">
						</div>
					</td>
					<td>

						<p>Hello, my name is <span class="invert">Gaurav Mehla</span>. I write code. I listen to a lot of different music. I like <a href="https://nodejs.org/en/">nodeJS</a>.

					</td>
				</tr>
			</table>
	   
	    </div>
	</div>
</div>
