<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- back</a>
	    <h1 class="about__title">Blogs:</h1>
	    <div class="blog">
		    <span class="blog_year">2017</span><br>
		    <div class="blog_month">
		    	<div class="blog_day">
		    		<span>[ 25 July 2017 ] :</span><a href="https://medium.com/dev-blogs/step-by-step-guide-to-install-jenkins-on-ubuntu-16-04-fba5f32ed402" target="_blank"> Step by Step guide to install Jenkins on ubuntu 16.04 </a> 
		    	</div>
		    </div>
		    <div class="blog_month">
		    	<div class="blog_day">
		    		<span>[ 02 Sept 2017 ] :</span><a href="https://medium.com/dev-blogs/configuring-jenkins-with-github-eef13a5cc9e9" target="_blank"> Configuring Jenkins with Github </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 13 Sept 2017 ] :</span><a href="https://medium.com/dev-blogs/complete-guide-of-file-handling-in-ionic-f6e5a21419b3" target="_blank"> Complete guide of File handling in Ionic </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 19 Sept 2017 ] :</span><a href="https://medium.com/dev-blogs/development-to-production-in-less-than-5-minutes-bccb6ab14268" target="_blank"> Development to Production in less than 5 minutes </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 24 Sept 2017 ] :</span><a href="https://medium.com/dev-blogs/true-path-to-become-a-javascript-ninja-i-7883fe615a8b" target="_blank"> True path to become a JavaScript Ninja — I </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 26 Sept 2017 ] :</span><a href="https://medium.com/dev-blogs/simple-and-best-way-to-practice-javascript-f91e8de1232e" target="_blank"> Simple and Best way to practice javascript </a>
		    	</div>
		    </div>
		    <div class="blog_month">
		    	<div class="blog_day">
		    		<span>[ 02 Oct. 2017 ] :</span><a href="https://medium.com/dev-blogs/true-path-to-become-a-javascript-ninja-ii-5293a7740ade" target="_blank"> True path to become a JavaScript Ninja — II </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 09 Oct. 2017 ] :</span><a href="https://medium.com/dev-blogs/true-path-to-become-a-javascript-ninja-iii-22914e928197" target="_blank"> True path to become a JavaScript Ninja — III </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 16 Oct. 2017 ] :</span><a href="https://medium.com/dev-blogs/true-path-to-become-a-javascript-ninja-4c34224c633" target="_blank"> True path to become a JavaScript Ninja — Final Chapter </a>
		    	</div>
		    </div>
		    <div class="blog_month">
		    	<div class="blog_day">
		    		<span>[ 04 Nov. 2017 ] :</span><a href="https://medium.com/dev-blogs/multiple-nodejs-apps-on-single-server-47b8bba3ec68" target="_blank"> Multiple NodeJS apps on single server </a>
		    	</div>
		    </div>
		    <span class="blog_year">2018</span><br>
		    <div class="blog_month">
		    	<div class="blog_day">
		    		<span>[ 14 Jan. 2018 ] :</span><a href="https://medium.com/dev-blogs/broadcasting-server-logs-to-browser-9a4139c43bf5" target="_blank"> Broadcasting Server logs to browser 📡 </a>
		    	</div>
		    	<div class="blog_day">
		    		<span>[ 26 Jan. 2018 ] :</span><a href="https://medium.com/dev-blogs/backup-and-restore-mongo-databases-e28db642cfd8" target="_blank"> Backup and Restore Mongo Databases </a>
		    	</div>
		    </div>
		</div>
	</div>
</div>
