<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- back</a>
	    <h1 class="about__title">Blogs:</h1>
	    <div class="blog">
		    <span class="blog_year">2017</span><br>
		    <span>25 June 2017 : </span><a href="https://blog.mehla.in/step-by-step-guide-to-install-jenkins-on-ubuntu-16-04-fba5f32ed402" target="_blank"> Step by Step guide to install Jenkins on ubuntu 16.04 </a>
		</div>
	</div>
</div>
