<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- home</a>
    	<h1 class="about__title">Links:</h1>
    	<div class="row" style="margin-bottom:50px;">
			<div class="col-md-4">
				<a href="/docs/certs/cert_up_and_running_with_angularJS1.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert1_thumb.jpg" style="width: 100%;"></a>
				<p style="text-align: center;margin-top:10px;">AngularJS</p>
			</div>
			<div class="col-md-4">
				<a href="/docs/certs/cert_git_essential_training.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert2_thumb.jpg" style="width: 100%;"></a>
				<p style="text-align: center;margin-top:10px;">Git</p>
			</div>
			<div class="col-md-4">
				<a href="/docs/certs/cert_mean_stack_and_mongodb_development_techniques.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert3_thumb.jpg" style="width: 100%;"></a>
				<p style="text-align: center;margin-top:10px;">MEAN Stack & MongoDB</p>
			</div>
		</div>

		<div class="row" style="margin-bottom:50px;">
			<div class="col-md-4">
				<a href="/docs/certs/cert_Machine_Learning_Ai_Foundations.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert4_thumb.jpg" style="width: 100%;"></a>
				<p style="text-align: center;margin-top:10px;">Machine Learning & AI Foundations</p>
			</div>
			<div class="col-md-4">
				<a href="/docs/certs/cert_python.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert5_thumb.jpg" style="width: 100%;"></a>
				<p style="text-align: center;margin-top:10px;">Python Basics</p>
			</div>
		</div>

		<div class="col-md-12" style="font-size: 15px;">
			<blockquote class="blockquote text-right">
			  <p class="mb-0">* More will <span style="color: red;" class="hvr-outline-in hvr-grow-rotate">join</span> them with time 🔖</p>
			</blockquote>
		</div>
	</div>
</div>