<div class="wrapper">
    <div class="header">
    	<div class="intro">
	    	<h1><span class="hvr-sweep-to-right hvr-rotate">Hi there!</span>, <span class="hvr-float">I</span><span class="hvr-float">'</span><span class="hvr-float">m</span> <span class="hvr-float">G</span><span class="hvr-float">a</span><span class="hvr-float">u</span><span class="hvr-float">r</span><span class="hvr-float">a</span><span class="hvr-float">v</span> </h1>
	    	<p style="display: flex; line-height:10px;margin-top:10px;margin-bottom:10px;padding-left:10px;">Software Engineer <span id="red-block" style="margin-left: 10px;margin-right: 10px;" class="hvr-buzz-out">&</span> a humble learner</p>
	    	<a style="padding-left:10px;">gaurav@mehla.in</a>
	    </div>
	    <ul>
	        
	        <li>
	            <a href="https://twitter.com/_gauravmehla"  target="_blank" > twitter </a>
	        </li>

	        <li>
	            <a href="https://www.linkedin.com/in/gauravmehla/"  target="_blank" > linkedin </a>
	        </li>

	        <li>
	            <a href="https://github.com/gauravmehla/ama"  target="_blank" > Ask Me Anything! </a>
	        </li>

	        <!-- <li>
	            <a href="/timeline" >timeline</a>
	        </li> -->
	        
	    </ul>
	</div>

	<!--
	<div class="terminal">
		<div class="terminalMenu">
		  <div class="terminalButtons terminalClose"></div>
		  <div class="terminalButtons terminalMinimize"></div>
		  <div class="terminalButtons terminalZoom"></div>
		</div>
		<div class="terminalScreen">
			<div class="terminal-p">
			  <p class="line1">&#91;&nbsp;&ldquo;I'm a software developer.&rdquo;,<span class="cursor1">_</span></p>
			  <p class="line2">&nbsp;&nbsp;&ldquo;.. and a web hacker.&rdquo;,<span class="cursor2">_</span></p>
			  <p class="line3">&nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;<span class="cursor3">_</span></p>
			  <p class="line4">gaurav@home:~$ <span class="cursor4">_</span></p>
		  </div>
		</div>
	</div>
-->
	<center>
		<div class="center_text hvr-buzz"></div>
		<div class="options center_controls">
			<ul class="list-inline">
				<li class="hvr-bounce-in"> >_ <a href="/blogs"> Writings </a> </li>
			  	<li class="hvr-bounce-in"> >_ <a href="https://www.gitshowcase.com/gauravmehla" style="color:white;background-color: #d42424;"> Code </a></li>
			  	<!-- <li> >_ <a href="/gaurav mehla resume.pdf"> Download Resume </a> </li> -->
			  	<li class="hvr-bounce-in"> >_ <a href="/me"> About </a> </li>
			</ul>
		</div>
		<p class="center_post">
			Find more interesting <a href="/links"> links here </a>
		</p>
	</center>

	<div id="corner-text"></div>
</div>