<div class="wrapper">
    <div class="header">
    	<div class="intro">
	    	<h1>Hi, I'm Gaurav Mehla</h1>
	    	<p>Software Engineer / Web Developer</p>
	    	<a>gaurav@mehla.in</a>
	    </div>
	    <ul>
	        
	        <li>
	            <a href="/me">about</a>
	        </li>
	        
	        <li>
	            <a href="https://github.com/gauravmehla"  target="_blank" >github</a>
	        </li>
	        
	        <li>
	            <a href="https://twitter.com/_gauravmehla"  target="_blank" >twitter</a>
	        </li>

	        <li>
	            <a href="https://www.linkedin.com/in/gauravmehla/"  target="_blank" >linkedin</a>
	        </li>

	        <li>
	            <a href="https://medium.com/@gauravmehla"  target="_blank" >Blog</a>
	        </li>

	        <!-- <li>
	            <a href="/timeline" >timeline</a>
	        </li> -->
	        
	    </ul>
	</div>

	<div class="terminal">
		<div class=terminalMenu>
		  <div class="terminalButtons terminalClose"></div>
		  <div class="terminalButtons terminalMinimize"></div>
		  <div class="terminalButtons terminalZoom"></div>
		</div>
		<div class="terminalScreen">
			<div class="terminal-p">
			  <p class="line1">&#91;&nbsp;&ldquo;I'm a web developer.&rdquo;,<span class="cursor1">_</span></p>
			  <p class="line2">&nbsp;&nbsp;&ldquo;I'm a web designer.&rdquo;,<span class="cursor2">_</span></p>
			  <p class="line3">&nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;<span class="cursor3">_</span></p>
			  <p class="line4">gaurav@home:~$ <span class="cursor4">_</span></p>
		  </div>
		</div>
	</div>

	<div class="options">
		<ul class="list-inline">
		  <li> >_ <a href="/me"> Contact Me </a> </li>
		  <li> >_ <a> Download Resume </a> </li>
		</ul>
	</div>
</div>