<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- home</a>
	    <img src="/images/404.jpg" style="margin:20px;" class="hvr-glow img-responsive noselect nodrag">
	</div>
</div>
