<div class="wrapper">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- home</a>
    	<center>
		    <img src="/images/404.jpg" style="margin:20px;" class="hvr-glow img-responsive noselect nodrag">
		    <p class="center_post" style="margin-top:20px;">
				Find more interesting <a href="/links"> links here </a>
			</p>
		</center>
	</div>
</div>
