<div class="wrapper" data-spy="scroll">
    <div class="about">
    	<a class="about__back" href="/">&lt;-- back</a>
	    <h1 class="about__title">About Me:</h1>
	    <div class="about__content">
			
			<table class="table intro-table">
				<tr>
					<td>
						<div>
							<img src="/images/gaurav_mehla.jpg" style="width: 400px;" class="hvr-glow">
						</div>
					</td>
					<td>

						<p>Hello, my name is <span class="invert">Gaurav Mehla</span>. I am a <a href="https://docs.google.com/presentation/d/e/2PACX-1vRWDF3QG-7i7uJd7gFPaU4FBMfJ2ELXT_lWCNGAxm7tlkYsdI6EI84Pp2N_5RWTLZ-HVkVDk9yKtuQx/pub?start=false&loop=false&delayms=10000" data-toggle="tooltip" title="Want to know my thoughts about fullstack?" target="_blank">FullStack Developer</a> & novice designer ( <i>This whole website is designed by me</i> ). I write a lot of code & I Love JavaScript. My favourite technologies right now is <a href="https://nodejs.org/en/" target="_blank">NodeJS</a>.</p>

						<p>I am currently working at <a href="http://livemedia.in/" target="_blank">Livemedia</a> as a Software Engineer. I have been using NodeJS, AngularJS and MongoDB for main Tech Stack while Ionic for building mobile applications.</p>

						<p>This is a place for me to share what I learn from my experiences - a collection of articles on software engineering, rants, and life stories.</p>

						<p>Want to know more about me ? Checkout <a href="https://www.github.com/gauravmehla" target="_blank">Github</a>, <a href="https://www.npmjs.com/~gauravmehla" target="_blank">npm</a> and <a href="https://stackoverflow.com/users/3835198/gauravmehla?tab=profile" target="_blank">Stackoverflow</a></p>

						<p>
							Want to know where I am now ? Shoot this little icon over here.. <a href="https://goo.gl/maps/cZZzKxZo41B2" style="font-size:30px; color:red; border:none;" target="_blank" data-toggle="tooltip" title="Somewhere near around.." data-placement="bottom"><i class="fa fa-map-marker hvr-buzz-out" aria-hidden="true"></i></a>
						</p>
					</td>
				</tr>
			</table>
	   
	    </div>
		
		<div class="row">
			<div class="col-md-6">
				<h1 class="about__title"> <span id="red-block" class="hvr-bounce-in">#</span> Sections </h1>
				<div class="options about-options">
					<ul>
					  <li> >_ <a href="#programming_skills"> Programming Language Skills </a> </li>
					  <li> >_ <a href="#framework_skills"> Framework Skills </a> </li>
					  <li> >_ <a href="#db_skills"> Database Skills </a> </li>
					  <li> >_ <a href="#edu_skills"> Education & jobs </a> </li>
					  <li> >_ <a href="#interests"> Interests </a> </li>
					  <li> >_ <a href="#cert"> Certifications </a> </li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div class="text-center" style="margin-top: 150px;margin-bottom: 150px;">
					<div id="resume-arrow"></div>
					<br>
					<a href="/docs/resumes/gaurav mehla cv.pdf" id="resume-button" class="hvr-outline-in hvr-buzz-out" target="_blank"> Click to view my CV </a>
				</div>
			</div>
		</div>

	    <div class="skill_block">
	    	<h1 class="about__title" id="programming_skills"> <span id="red-block" class="hvr-bounce-in">#</span> Language and Platform Skills :</h1>
	    	<div class="skill_section">

	    	<!--  Progress Meter-->
				<div class="bs-callout bs-callout-danger">
        			<ul class="list-group">
			            <div class="progress" data-toggle="tooltip" title="Just â¤ï¸ it..." data-placement="left">
			              <div data-placement="top" style="width: 95%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger progress-bar-striped active">
			                <span class="sr-only">90%</span>
			                <span class="progress-type">JavaScript/ NodeJS/ MEAN stack </span>
			              </div>
			            </div>
			            <div class="progress" data-toggle="tooltip" title="One of my fav. Mainly use while doing competitive programming..." data-placement="left">
			              <div data-placement="top" style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger progress-bar-striped active">
			                <span class="sr-only">80%</span>
			                <span class="progress-type">Python 2.7</span>
			              </div>
			            </div>
			            <div class="progress" data-toggle="tooltip" title="Built 10+ projects while doing freelancing, 3 of them are for my college and they are currently live. I recieved appreciation from college management also." data-placement="left">
			              <div data-placement="top" style="width: 75%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">75%</span>
			                <span class="progress-type">PHP/ Lamp Stack</span>
			              </div>
			            </div>
			            <div class="progress" data-toggle="tooltip" title="..although I know java and worked on it a lot but to be honest, I do not like it that much â˜¹ï¸" data-placement="left">
			              <div data-placement="top" style="width: 65%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">50%</span>
			                <span class="progress-type">JAVA</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 35%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">35%</span>
			                <span class="progress-type">C</span>
			              </div>
			            </div>
			            <div class="progress">
			              <div data-placement="top" style="width: 35%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-danger">
			                <span class="sr-only">35%</span>
			                <span class="progress-type">C++</span>
			              </div>
			            </div>
			            <div class="progress" data-toggle="tooltip" title="Currently learning it..." data-placement="left">
			              <div data-placement="top" style="width: 25%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-striped active">
			                <span class="sr-only">25%</span>
			                <span class="progress-type">Go</span>
			              </div>
			            </div>

			            <div class="progress-meter">
			              <div style="width: 30%;" class="meter meter-left"><span class="meter-text">I know little</span></div>
			              <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I'm expert</span></div>
			              <div style="width: 50%;" class="meter meter-right"><span class="meter-text">I'm good</span></div>
			            </div>
			        </ul>
			    </div>
      	<!-- </ Progress Meter-->
      			<div class="col-md-12" style="font-size: 15px;margin-bottom:100px;margin-top: 50px;">
				<blockquote class="blockquote text-right">
				  <p class="mb-0">... and I know <span style="color: red;" class="hvr-outline-in hvr-grow-rotate">many</span> more</p>
				</blockquote>
			</div>

	    	</div>
	    </div>



		<div class="row" style="font-size: 23px;margin-bottom:100px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block" class="hvr-grow-rotate">#</span> Experience coding on all major platforms</p>
			  <footer class="blockquote-footer">i.e OSX, iOS, Web, Windows, Linux, Android</footer>
			</blockquote>
		</div>

	    <div class="row">
		  <div class="col-md-4">
	    	<h1 class="about__title" id="framework_skills"> <span id="red-block" class="hvr-bounce-in">#</span> Framework Skill :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="http://expressjs.com/" target="_blank">Express </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="https://angularjs.org/" target="_blank"> Angular </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="https://ionicframework.com/" target="_blank"> Ionic </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="http://flask.pocoo.org/" target="_blank"> Flask </a> </li>
					  <li> <span>>_</span> <a href="https://www.djangoproject.com/" target="_blank"> Django </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		  <div class="col-md-4">
	    	<h1 class="about__title" id="db_skills"> <span id="red-block" class="hvr-bounce-in">#</span> Database Skill :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="https://www.mongodb.com/" target="_blank"> MongoDB </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="https://www.mysql.com/" target="_blank"> MySQL </a> </li>
					  <li> >_ <a href="https://www.postgresql.org/" target="_blank"> PostGRE </a> </li>
					  <li> >_ <a href="https://www.rethinkdb.com/" target="_blank"> RethinkDB </a> </li>
					  <li> >_ <a href="https://redis.io/" target="_blank"> Redis </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>
		  <div class="col-md-4">
		  	<h1 class="about__title" id="interests"> <span id="red-block" class="hvr-bounce-in">#</span> Interests :</h1>
	    	<div >
	    		<div class="options about-options">
					<ul>
					  <li> >_ <a href="/docs/certs/cert_Machine_Learning_Ai_Foundations.pdf" target="_blank"> ML / AI </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="https://www.hackerrank.com/gauravmehla" target="_blank"> Algorithms </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="https://www.goodreads.com/user/show/64525502-gaurav-mehla" target="_blank"> Reading books </a> </li>
					  <li> <span style="color: red;" class="hvr-buzz">>_</span> <a href="/blogs" target="_blank"> Writing </a> </li>
					</ul>
				</div>
	    	</div>
		  </div>

		  	<div class="col-md-12" style="font-size: 15px;margin-bottom:100px;">
				<blockquote class="blockquote text-right">
				  <p class="mb-0">* Red pointer <span style="color: red;" class="hvr-outline-in hvr-grow-rotate">>_</span> highlight those techs / things on which I have worked recently</p>
				</blockquote>
			</div>
		</div>



	    <div class="row" style="font-size: 23px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block" class="hvr-grow-rotate">#</span> Familiar with a lot of creative softwares</p>
			  <footer class="blockquote-footer">i.e  xCode, Git, Android Studio, Jenkins and many more.</footer>
			</blockquote>
		</div>


	    <div class="skill_block" >
	    	<h1 class="about__title" id="edu_skills"> <span id="red-block" class="hvr-grow-rotate">#</span> Education and Jobs :</h1>
	    	<div class="skill_section">
	    	<!-- The Timeline -->

				<ul class="timeline">
					
					<li>
						<div class="direction-l">
							<div class="flag-wrapper">
								<span class="flag">Looking ðŸ‘€</span>
								<span class="time-wrapper"><span class="time">Mar 2018 - present</span></span>
							</div>
							<div class="desc">...want to be around professionals and learn from them. Interested to see my <a style="font-size: 13px;font-weight: bolder;" target="_blank" class="hvr-grow"  data-toggle="tooltip" title="Don't hesitate to contact me! ðŸ™‚" data-placement="bottom">Resume</a> ?</div>
						</div>
					</li>

					<!-- Item 1 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Livemedia</span>
								<span class="time-wrapper"><span class="time">Nov 2016 - Mar 2018</span></span>
							</div>
							<div class="desc">
								<p style="color:red;font-size: 12px;">Software Engineer</p>
								My last employment. I learned a lot of things there. Worked on MEAN Stack. Learned and built complete <b>RESTful API Architecture</b>. Expertised in complete VPS( Cloud Server ) management.
								<p><a href="https://docs.google.com/presentation/d/e/2PACX-1vR0EnwP_4BG7IUzVqDg7t8jO9Dmg2_wUYKIxlaKkQ8jpAdiIoTJ1bbkcpqlWCCWcMo_8Tqfzwt5pq0F/pub?start=false&loop=false&delayms=5000" style="font-size: 13px;font-weight: bolder;" target="_blank" class="hvr-grow">Click here</a> to see all of the things in which I was invloved there.</p>
							</div>
						</div>
					</li>
				  
					<!-- Item 2 -->
					<li>
						<div class="direction-r">
							<div class="flag-wrapper">
								<span class="flag">Buringo</span>
								<span class="time-wrapper"><span class="time">Sep 2016 - Nov 2016</span></span>
							</div>
							<div class="desc">
								<p style="color:red;font-size: 12px;">FullStack Web Developer</p>
								My first employement. Worked on HTML5, Meteor. Built chrome app & extension for the first time. Also, created my first hybrid mobile application for both iOS and Android platforms.</div>
						</div>
					</li>

					<!-- Item 3 -->
					<li>
						<div class="direction-l">
							<div class="flag-wrapper">
								<span class="flag">B.Tech - KUK</span>
								<span class="time-wrapper"><span class="time">Aug 2012 - July 2016</span></span>
							</div>
							<div class="desc">
								<p style="color:red;font-size: 12px;">Bachelor of Technology - Computer Science</p>
								Learned Data Structures, Algorithms, etc. Worked on a lot of projects which are based on LAMP tech stack. 3 of them are live in my college and appriciated by management of college</div>
						</div>
					</li>
				</ul>

	    	</div>
	    </div>
		
		

	    <div class="row" style="margin-bottom:100px;">
	    	<h1 class="about__title" id="cert"> <span id="red-block" class="hvr-bounce-in">#</span> Steep curve towards learning :</h1>
			<div class="col-md-4">
				<a href="/docs/certs/cert_up_and_running_with_angularJS1.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert1_thumb.jpg" style="width: 100%;"></a>
			</div>
			<div class="col-md-4">
				<a href="/docs/certs/cert_git_essential_training.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert2_thumb.jpg" style="width: 100%;"></a>
			</div>
			<div class="col-md-4">
				<a href="/docs/certs/cert_mean_stack_and_mongodb_development_techniques.pdf" target="_blank" class="cert hvr-float-shadow"><img src="/docs/certs/cert3_thumb.jpg" style="width: 100%;"></a>
			</div>
			<div class="col-md-12" style="font-size: 15px;margin-bottom:100px;margin-top: 50px;">
				<blockquote class="blockquote text-right">
				  <p class="mb-0">* <a href="/certs" style="color: red;" class="hvr-outline-in hvr-grow-rotate">Click</a> to see  all...</p>
				</blockquote>
			</div>
		</div>

		<div class="row" style="font-size: 23px;margin: 100px;">
			<blockquote class="blockquote text-center">
			  <p class="mb-0"><span id="red-block" class="hvr-grow-rotate">#</span> Built with <i class="fa fa-heart hvr-pulse-grow" aria-hidden="true" style="color:red;"></i></p>
			  <footer class="blockquote-footer">by and for myself</footer>
			</blockquote>
		</div>
		
	</div>
</div>
